body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-number {
  height: 44px;
  width: 44px;
  text-align: center;
  font-size: x-large;
  color: white;
  border: darkred;
  border-radius: 10px;
  background-color: darkcyan;
}

.button-operator {
  height: 44px;
  width: 44px;
  text-align: center;
  font-size: x-large;
  color: white;
  border: darkred;
  border-radius: 10px;
  background-color: darkblue;
}

.solution {
  text-align: center;
  display: inline;
  font-size: x-large;
}